<footer class="footer">

    <a href="" class="arrow-footer"></a>
    
    <nav class="nav-articles">
      <ul>
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </nav>
    
    <nav class="nav-socialmedia">
      <ul>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.social</li>
      </ul>
    </nav>

    <p class="copy">©2022</p>
    <p class="welovecomponents"> we <span>❤︎</span> components </p>

  </footer>