<nav class="nav-articles">
    <ul>
      <a href="https://adalab.es/">
        <li>Articles</li>
      </a>
      <a href="https://adalab.es/">
        <li>Books</li>
      </a>
      <a href="https://adalab.es/">
        <li>Events</li>
      </a>
      <a href="https://adalab.es/">
        <li>Reasons</li>
      </a>
      <a href="https://adalab.es/">
        <li>Tips</li>
      </a>
    </ul>
  </nav>
  
  <nav class="nav-socialmedia">
    <ul>
      <a href="https://adalab.es/">
        <li>Twitter</li>
      </a>
      <a href="https://adalab.es/">
        <li>Instagram</li>
      </a>
      <a href="https://adalab.es/">
        <li>Mastodon.social</li>
      </a>
    </ul>
  </nav>