<nav class="nav-footer">
    <ul class="nav-articles">
        <li><a href="https://adalab.es/" class="nav-articles--name">Articles</a></li>
        <li><a href="https://adalab.es/" class="nav-articles--name">Books</a></li>
        <li><a href="https://adalab.es/" class="nav-articles--name">Events</a></li>
        <li><a href="https://adalab.es/" class="nav-articles--name">Reasons</a></li>
        <li><a href="https://adalab.es/" class="nav-articles--name">Tips</a></li>
    </ul>
</nav>
  
<nav class="nav-footer">
    <ul class="nav-socialmedia">
        <li><a href="https://adalab.es/" class="nav-socialmedia--red">Twitter</a></li>
        <li><a href="https://adalab.es/" class="nav-socialmedia--red">Instagram</a></li>
        <li><a href="https://adalab.es/" class="nav-socialmedia--red">Mastodon.social</a></li>
    </ul>
</nav>