<section class="reason-wrapper">
    
    <h2 class="subtitle-reason">3 Reasons to purchase</h2>

    <article class="reason">
        <h3 class="reason-title">Ut sed metus</h3>
        <p class="reason-text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
      
    <article class="reason">
        <h3 class="reason-title">Curabitur ac erat</h3>
        <p class="reason-text">Mauris mattis urna quis lorem molestie.</p>
    </article>
      
    <article class="reason">
        <h3 class="reason-title">Morbi dictum</h3>
        <p class="reason-text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    
    <a href="" class="button-more-reasons">More reasons</a>

</section>