// fonts
$font-titles:'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$font-buttons: 'Roboto', sans-serif;

// colors
$color-menu: #0271bc;
$color-hero: #ffffff;
$color-reasons: #eff9ff;
$color-footer: #304268;
$color-details: #f26002; 



