.footer {
    background-color: $color-footer;
    padding: 17px 15px 36px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-copy {
        color: $color-hero;
        font-size: 14px;
        font-family: $font-text;
        line-height: 30px;
    }
    &-components {
        color: $color-hero;
        font-size: 14px;
        font-family: $font-text;
        line-height: 30px;
        &--love{
            color: $color-details;
        }
    }
}

.footer-arrow-img{
    background-color: $color-hero;
    padding: 11px 12px 10px 12px;
    border-radius: 50%;
    transform: translateY(-87%);
}
