.header {
    background-color: $color-menu;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    padding-left: 11,8px;
    padding-right: 11,8px;
}

/*.ancor-menu {
    padding-left: 11,8px;
    padding-right: 11,8px;
}*/