.header {
    background-color: $color-menu;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    padding: 11.8px;
    @media all and (min-width: 768px) {
        padding: 15px 13.2px 15px 13.2px;
      }
    @media all and (min-width: 1200px) {
        padding: 15px 14px 15px 14px;
      } 
}