.reason-wrapper {
    background-color: $color-reasons;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 29px 15px 50px 15px;
    text-align: center;
    margin-bottom: 49px;

    
}

.subtitle-reason {
    font-size: 24px;
    font-family: $font-titles;
    line-height: 30px;
}

.button-more-reasons {
    font-size: 20px;
    font-family: $font-buttons;
    line-height: 45px;
    color: $color-hero;
    background-color: $color-details;
    text-decoration: none;
    border-radius: 22.5px;
    text-align: center;
    margin-top: 41px;
    
}
