.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 44px;
}

.reason{
    &-title {
        font-size: 18px;
        font-family: $font-titles;
        line-height: 30px;
    }
    &-text {
        font-size: 18px;
        font-family: $font-text;
        line-height: 30px;
        max-width: 180px;
        display: inline-block;
        text-align: center;
    }
}
